TesteDataService/Service References/ServiceCategoria/CategoriaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PecaDicas.Contratos.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PecaDicas.Contratos.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63962/CRUD/CategoriaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="IDValuePair">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IDValuePair" nillable="true" type="tns:IDValuePair" />
  <xs:complexType name="DetalhamentoFalha">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensagemInterna" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalhamentoFalha" nillable="true" type="tns:DetalhamentoFalha" />
</xs:schema>