PecaDica.App/Service References/MarcaServicos/MarcaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PecaDica.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PecaDica.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63962/CRUD/MarcaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:63962/CRUD/MarcaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="Marca">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="Modelo" nillable="true" type="tns:Modelo" />
          <xs:element minOccurs="0" name="ModeloReference" nillable="true" type="q1:EntityReferenceOfModeloTOjbUMNd" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Marca" nillable="true" type="tns:Marca" />
  <xs:complexType name="Modelo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ano" type="xs:int" />
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="Marca" nillable="true" type="tns:Marca" />
          <xs:element minOccurs="0" name="MarcaReference" nillable="true" type="q2:EntityReferenceOfMarcaTOjbUMNd" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Produto" nillable="true" type="tns:Produto" />
          <xs:element minOccurs="0" name="ProdutoReference" nillable="true" type="q2:EntityReferenceOfProdutoTOjbUMNd" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Modelo" nillable="true" type="tns:Modelo" />
  <xs:complexType name="Produto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Categoria" nillable="true" type="tns:Categoria" />
          <xs:element minOccurs="0" name="CategoriaReference" nillable="true" type="q3:EntityReferenceOfCategoriaTOjbUMNd" />
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="Loja" nillable="true" type="tns:Loja" />
          <xs:element minOccurs="0" name="LojaReference" nillable="true" type="q3:EntityReferenceOfLojaTOjbUMNd" />
          <xs:element minOccurs="0" name="Modelo" nillable="true" type="tns:Modelo" />
          <xs:element minOccurs="0" name="ModeloReference" nillable="true" type="q3:EntityReferenceOfModeloTOjbUMNd" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Produto" nillable="true" type="tns:Produto" />
  <xs:complexType name="Categoria">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Produto" nillable="true" type="tns:Produto" />
          <xs:element minOccurs="0" name="ProdutoReference" nillable="true" type="q4:EntityReferenceOfProdutoTOjbUMNd" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Categoria" nillable="true" type="tns:Categoria" />
  <xs:complexType name="Loja">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomeUsuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Produto" nillable="true" type="tns:Produto" />
          <xs:element minOccurs="0" name="ProdutoReference" nillable="true" type="q5:EntityReferenceOfProdutoTOjbUMNd" />
          <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Loja" nillable="true" type="tns:Loja" />
</xs:schema>